body {
    color: #ffffff ;
    background-color: #98cfa0;
    font-size: 20px;
    position: flex ;
    top: 0px;
    width: auto;
    margin: 0 auto;
    }

@media (prefers-color-scheme: no-preference) {
body {
    background-color: #98cfa0;}
}

@media (prefers-color-scheme: dark) {
body {
    background-color: #98cfa0;
    }
.nom {
    background-color: #f5f6fa;}
}

@media (prefers-color-scheme: light) {
body {
    background-color: #98cfa0;}
}
