.contact { /*contact en bas de page */
    color: #FFFFFF;
    background-color: #98cfa0;
    padding: .3rem;
    font: 1.2rem "Noto Sans", sans-serif;
    text-align: center;
    width: 99%;
    text-decoration: none;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    }
